.markdown :is(h1, h2, h3, h4, h5, h6) {
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.2;
}

.markdown p {
  margin: 0 0 1em;
  line-height: 1.6;
}

.markdown table {
  table-layout: fixed;
  width: 100%;
  margin: 1em 0;
  border-collapse: collapse;
  border: 1px solid #d4d4d4;
}

.markdown a {
  text-decoration: none;
  color: #0078d4;
  border-bottom: 1px solid #0078d4;
}

.markdown :is(ol, ul) {
  margin: 0 0 1em 1.5em;
  padding: 0;
}

.markdown :is(ol, ul) li {
  margin: 0.5em 0;
  padding: 0;
  line-height: 1.6;
}

.markdown ul li {
  list-style: disc;
}

.markdown ol li {
  list-style: decimal;
}

.markdown :is(th, td) {
  padding: 0.5em 1em;
  border: 1px solid #d4d4d4;
}

.markdown h1 {
  font-size: 1.775em
}

.markdown h2 {
  font-size: 1.675em;
}

.markdown h3 {
  font-size: 1.575em;
}

.markdown h4 {
  font-size: 1.475em;
}

.markdown h5 {
  font-size: 1.375em;
}

.markdown h6 {
  font-size: 1em;
}

.markdown blockquote {
  display: block;
  margin-bottom: 0.5em;
  padding: 0.5em 1em;
  border-left: 4px solid #000;
  background-color: #eee;
  color: #000;
  font-style: italic;
}

.markdown blockquote p {
  margin: 0;
}
